<phpunit bootstrap="./bootstrap.php">

  <testsuites>
    <testsuite name="Application Test Suite">
      <directory>./aplicacao</directory>
    </testsuite>
    <testsuite name="Library Test Suite">
      <directory>./lib</directory>
    </testsuite>
  </testsuites>

   <logging>
    <log type="coverage-html" target="../build/coverage" />
    <log type="coverage-clover" target="../build/logs/clover.xml" />
    <log type="coverage-crap4j" target="../build/logs/crap4j.xml" />
    <log type="coverage-xml" target="../build/logs/coverage" />
    <log type="junit" target="../build/logs/junit.xml" />
  </logging>

  <filter>
    <whitelist>
      <directory suffix=".php">../aplicacao</directory>
      <exclude>
        <!-- Ignorando arquivo na cobertura de testes -->
        <file>../aplicacao/view/**</file>
        <file>../aplicacao/config.ini</file>
        <file>../aplicacao/index.php</file>
        <file>../aplicacao/.htaccess</file>
        <file>../aplicacao/Avisos1.php</file>
        <file>../aplicacao/Avisos2.php</file>
        <file>../aplicacao/Avisos1.php</file>
        <file>../aplicacao/defineVar.php</file>
        <file>../aplicacao/bootstrap.php</file>
        <file>../aplicacao/controller/ControleCadastro.php</file>
        <file>../aplicacao/controller/ValidaSessao.php</file>
        <file>../aplicacao/view/AssociacaoAPP.php</file>
        <file>../aplicacao/view/BaixarParcela.php</file>
        <file>../aplicacao/view/BotoesCadastro.php</file>
        <file>../aplicacao/view/CadastraParcelas.php</file>
        <file>../aplicacao/view/ControleAssociado.php</file>
        <file>../aplicacao/view/ControleCidade.php</file>
        <file>../aplicacao/view/ControleCobranca.php</file>
        <file>../aplicacao/view/ControleTipoCobranca.php</file>
        <file>../aplicacao/view/ControleTitulo.php</file>
        <file>../aplicacao/view/DefineEstilo.php</file>
        <file>../aplicacao/view/DefineHeadMeta.php</file>
        <file>../aplicacao/view/DefineHeadMetaB.php</file>
        <file>../aplicacao/view/Home.php</file>
        <file>../aplicacao/view/ImprimirParcela.php</file>
        <file>../aplicacao/view/Login.php</file>
        <file>../aplicacao/view/LoginAPP.php</file>
        <file>../aplicacao/view/MensagemGravando.php</file>
        <file>../aplicacao/view/Mostra_Msg_Ret.php</file>
        <file>../aplicacao/view/RelacionaParcelasAssociado.php</file>
        <file>../aplicacao/view/RelatorioCobrador.php</file>
        <file>../aplicacao/view/RelatorioGerencial.php</file>
		<file>../aplicacao/model/Cadastro.php</file>
		<file>../aplicacao/model/Tabela.php</file>
		<file>../aplicacao/model/Relatorio.php</file>
		<file>../aplicacao/model/Titulo.php</file>
		<file>../aplicacao/model/View.php</file>
        <!-- Ignorando diretório na cobertura de testes -->
        <directory>../aplicacao/lib</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
